@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700');

body {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    line-height: 1.35em;
    letter-spacing: 0.0001em;
    color: $color_text;
}

a, a:link, a:visited {
  color: $color_text;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
