@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');

$body_font: "Work Sans", sans-serif;
$header_font: "Rubik";

body {
    font-family: $body_font;
    font-size: 16px;
    line-height: 1.45em;
    font-weight: 400;
    letter-spacing: 0.0001em;
    color: $color_text;
}

h1, h2, h3 {
  font-family: $header_font;
  font-weight: 300;
  line-height: 1.35em;
}

h1 {
  font-size: 2em;
  margin-bottom: 16px;
}

a {
  color: $color_text;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    color: $color_dark_text;
    transition: all 0.2s ease;
  }
}
