body {
  background-color: $white-smoke;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  max-width: 100%;
  &.banner-animated {
    max-width: 900px;
  }
  &.face-animated {
    max-width: 200px;
    @include md {
      max-width: 280px;
    }
  }
}

.outer-space {
  padding: 30px;
  @include lg {
    max-width: 1160px;
    padding: 100px 120px;
  }
}

.top-image {
  text-align: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  margin: 80px 0 160px;

  & > div:first-child {
    // flex: 1 1 auto;
  }

  & > div:nth-child(3) {
    width: 100%;
  }

  @include lg {
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;

    & > div:nth-child(3) {
      padding: 50px;
      flex: 1 1 33%;
    }
  }
}

.cats {
  flex-flow: row nowrap;
}
