body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: $raven-grey;
}

h1,
.heading-display {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 10vw;
  line-height: 0.75em;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  font-weight: 400;
}

a {
  position: relative;
  display: inline-block;
  color: $raven-grey;
  font-size: 1em;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-decoration-color: $steel-blue;
  text-underline-offset: 0.5em;

  &::before {
    position: absolute;
    top: 100%;
    content: attr(linkname);
    opacity: 0;
    display: block;
    transition: 0.25s all;
    height: 0;
    overflow: hidden;
    padding: 0.25em 1em;
    background: lighten($steel-blue, 15);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.3em;
    color: $raven-grey;
  }

  &:hover {
    &::before {
      opacity: 1;
      display: block;
      height: auto;
      z-index: 10;
    }
  }
}

ul.linkies {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    margin: 0;
    padding: 1em 0;
  }
}
