$arapawa: #304b61;
$raven-grey: #3a4053;
$white-smoke: #f4f4f4;
$geyser: rgba(212, 219, 230, 0.8);
$steel-blue: #adc1df;
$highlight: #eff0e8;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
