body {
    background-color: darken($grey-light, 10%);
    left: 0;
    overflow-x: hidden;
    position: relative;
    transition: all 0.3s ease;
}
section {
    padding: 50px 10px;
    min-height: 100vh;
    height: auto;
    background-color: lighten($green, 45%);
    &:nth-child(odd) {
        background-color: $grey-light;
    }
    &:last-child {
      background-color: $grey-dark;
      color: $grey-light;
    }
}

.content {
    max-width: 960px;
    margin: 20px auto;
    img {
      margin: 10px auto;
      text-align: center;
      display: block;
      max-width: 400px;
      width: 100%;
    }
}
nav {
    ul {
        padding: 2em;
        margin: 0;
        li {
            list-style-type: none;
            font-size: 0.8em;
            padding: 0.7em 0;
            border-bottom: 1px dashed $green;
            a {
                color: #1F271B;
                &:hover {
                    background: $green;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}
.nav__left {
    background-color: darken($grey-light, 10%);
    height: 100%;
    position: fixed;
    top: 0;
    width: 320px;
    z-index: 1000;
    left: -320px;
    transition: all 0.3s ease;
}
.push-right {
    left: 320px;
}
.push-left {
    left: -320px;
}
.openLeft {
    left: 0;
}
.openRight {
    right: 0;
}
.btn--navtoggle {
    position: absolute;
    top: 0;
    left: 320px;
    padding: 1em;
    font-size: 12px;
    width: 130px;
    &:before {
      font-family: 'FontAwesome';
      content: '\f0c9';
    }
    &.active {
      &:before {
        font-family: 'FontAwesome';
        content: '\f00d';
      }
    }
}
ul.resources {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        padding: 1em 0;
        a {
            background: $grey-dark;
            padding: 6px 12px;
            display: inline-block;
            transition: all 0.2s ease;
            font-family: $secondary-font;
            &:hover {
                background: $green;
                color: $grey-dark;
                transition: all 0.2s ease;
            }
        }
        p {
            display: inline-block;
        }
    }
}
.spacer {
  content: '';
  height: 40px;
  width: 100%;
  display: block;
  clear: both;
}
.cheatsheet__row {
  display: flex;
  margin: 10px 0;
  width: 100%;
  padding: 2em 1em;
  border-bottom: 1px dashed rgba($grey-light, 0.4);
  div {
    width: 50%;
  }
}
