body {
  font-family: $main-font;
  font-size: 18px;
  color: #333;
}
h1 {
  font-family: $main-font;
  font-weight: 300;
  font-size: 2.65rem;
  display: inline-block;
  padding-bottom: 1rem;
  border-bottom: 1px solid transparent;
  line-height: 2.25rem;
  span {
    font-weight: 500;
  }
  &:hover {
    border-bottom: 1px dashed $grey-dark;
  }
}
h2 {
  font-weight: 500;
  font-size: 1.6rem;
  display: block;
}
p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
  &.grand {
    font-size: 1.2em;
  }
  &.petit {
    font-size: 0.75em;
  }
}
a, a:visited {
  text-decoration: none;
  color: $green;
  transition: all 0.2s ease;
}
a.fancy {
  background: $green;
  color: $grey-dark;
  padding: 6px 12px;
  transition: all 0.2s ease;
  font-family: $secondary-font;
  &:hover {
    background: rgba($green,0.5);
    color: darken($green, 10%);
  }
}
blockquote {
  font-size: 1.5rem;
  border-left: 5px solid $red;
  line-height: 2.25rem;
  padding: 1em;
  //border-bottom: 1px dashed $grey-dark;
}
ul, ol {
  li {
    padding: 0.5em 0;
  }
}
pre {
  display: block;
  background: darken($grey-dark,10%);
  width: 90%;
}
code {
  font-family: $secondary-font;
  background: darken($grey-dark,10%);
  font-size: 1.25rem;
}
