---
const description = "404";
import "../styles/global.scss";
---

<layout>
  <section class="page-centered">
    <div>
      <img class="tiny-img gif" src="../imgs/Tiny_Scene_Large.gif" />
      <h1 class="lost__header">{description}</h1>
      <p>These little guys seem to be <a href="/">guiding you home...</a></p>
    </div>
  </section>
</layout>
