---
import Layout from "../layouts/Layout.astro";
const pageTitle = "cat";
---

<Layout pageTitle={pageTitle}>
  <section>
    <div class="gif">cat</div>
    <div>
      <h1>cat</h1>
      <p class="bigly">cat</p>
    </div>
  </section>
</Layout>
