---
import Layout from "../layouts/Layout.astro";
const pageTitle = "cat";
---

<Layout pageTitle={pageTitle}>
  <section class="page-grid">
    <div>
      <img
        alt="A collage of my cat Ohmu. Ohmu is a small, medium-haired brown tabby with a whiteish chin. There are three photos of her, including one where she is sitting, one where she is sitting inside her toy box that is shaped like a strawberry, and one where she is stretching in a rainbow light. There is also a cartoon drawing of Ohmu sitting upright."
        class="standard-img"
        src="../imgs/ohmollage.png"
      />
    </div>
    <div>
      <img
        alt="A cartoon illustration of my cat Ohmu sleeping, laying down on her side."
        class="standard-img"
        src="../imgs/ohmu-zzz.png"
      />
    </div>
  </section>
</Layout>
