---
import Layout from "../layouts/Layout.astro";
const pageTitle = "cat";
---

<Layout pageTitle={pageTitle}>
  <section class="page-grid">
    <div><img class="standard-img" src="../imgs/ohmollage.png" /></div>
    <div>
      <img class="standard-img" src="../imgs/ohmu-zzz.png" />
    </div>
  </section>
</Layout>
