---
import Layout from "../layouts/Layout.astro";
const pageTitle = "imaginarybeasts";
---

<Layout pageTitle={pageTitle}>
  <section class="page-grid">
    <div class="gif">
      <img alt="a fish smooches a friend" src="/imgs/fishkiss.gif" />
    </div>
    <div>
      <h1>Hello!</h1>
      <p class="bigly">
        I'm Ris. I'm a non-binary visual communicator who likes to draw, design,
        animate, code, and eat. Most of the time, you'll likely find me doing a
        combination of the above.
      </p>
      <p class="bigly">
        My pronouns are they/them (English), iel/il (French), 他 (Chinese).
      </p>
      <p>
        Right now, I'm grateful to be living and working on the unceded
        traditional territories of the xʷməθkʷəy̓əm (Musqueam), Sḵwx̱wú7mesh
        (Squamish), and səlilwətaɬ (Tsleil-Waututh) Nations (so-called
        Vancouver, British Columbia). I'm currently a full time user experience
        designer and product design manager. And a committed full time <a
          href="/cat/">cat parent 🐱</a
        >
      </p>
    </div>
    <div>
      <h2>Some things I've worked on</h2>
      <p>
        I'm currently serving as a Board Director for <a
          alt="Humainologie: Amplifying Underrepresented Voices"
          target="_blank"
          href="https://humainologie.com/">Humainologie</a
        >, a Calgary-based organization whose mission is to centre people facing
        systemic barriers by amplifying their stories and celebrating their
        humanity.
      </p>
      <p>
        I’m part of the <a href="https://linktr.ee/happen_stance"
          >happen stance art collective</a
        >, a crew of artists, illustrators, writers and comic loving nerds in
        so-called Vancouver. Our work spans a range of mediums including
        stickers, comics, printmaking, book arts, illustration, painting and
        design, tied together by our collectively held interest in independent
        artistic expression.
      </p>
      <p>
        In the past, I’ve designed and developed responsive, accessible
        interfaces for clients such as Alberta Health Services (AHS), Calgary
        Distress Centre, Wood’s Homes, TELUS Spark, ATB, and American Express
        Global Business Travel (Amex GBT).
      </p>
      <p>
        I’ve created illustrations and icons for clients like Nature Conservancy
        of Canada (NCC), Wood’s Homes, Arts Commons, and DCBank. I was a regular
        contributor as an illustrator to Big Kitty Magazine, a publication in
        Calgary that showcases and focuses on amplifying marginalized voices in
        local art, music, and culture. I have created a couple of short comics
        for <a
          href="http://www.gythapress.org/toad-hex-magazine.html"
          target="_blank">Toad Hex Magazine 🐸</a
        >.
      </p>
      <!-- <p>Murals</p>
      <p>A selection of other work</p> -->
    </div>
    <div>
      <img
        class="photo"
        alt="a
        hand
        holding
        a
        holographic
        sticker
        with
        the
        text
        'trans
        lives
        are
        sacred'
        in
        front
        of
        some
        soft blue flowers"
        src="imgs/trans-lives-sacred-sticker.png"
      />
      <div class="callout">
        <ul class="linkgroup external">
          <li><a href="https://dribbble.com/demonography">dribbble</a></li>
          <li><a href="https://www.are.na/ossifrage/channels">are.na</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="page-centered">
    <img class="tiny-img gif" src="../imgs/Tiny_Scene_Large.gif" />
  </section>
</Layout>
