.header {
    width: 100%;
    font-size: 0.75rem;
    &-content {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-nav-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item {
            margin-right: 16px;
        }
    }
    a, a:active, a:visited {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      border-bottom: 1px dotted transparent;
    }
    a:hover {
      border-bottom: 1px dotted #333;
    }
}
