---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="navbar">
  <div class="navbar__title">
    <a href="/"
      ><img
        class="logoo"
        alt="imaginary beasts animated logo and creatures"
        src="/imgs/imaginarybeastscreaturesanimated.gif"
      /></a
    >
  </div>
  <div class="navbar__menu">
    <!-- <a href="/work/">Selected Work</a> -->
    <!-- <ThemeIcon /> -->
  </div>
</div>
